$app-background: #65483D;

* {
  margin: 0;
  }
  
@font-face {
  font-family: "Inter-Bold";  
  src: url("../assets/fonts/Inter-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Inter-Medium";  
  src: url("../assets/fonts/Inter-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraBoldItalic";  
  src: url("../assets/fonts/Inter-ExtraBoldItalic.otf") format("truetype");
}

@font-face {
  font-family: "Inter-LightItalic";  
  src: url("../assets/fonts/Inter-LightItalic.otf") format("truetype");
}
.app {
  background-color: $app-background;
  font-family: "Inter";
  color: #eeeced;
}