.events-section {
    text-align: center;
    background-image: url('../assets/images/BackWithLogo2.jpg');
    background-position: top;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;

    .events-title {
        padding-top: 80px;
        padding-bottom: 40px;
        font-size: 36px;
        margin-bottom: 20px;
        color: #eeeced;
    }

    .event-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 80%;

        .arrow {
            background: transparent;
            border: none;
            color: #eeeced;
            font-size: 24px;
            cursor: pointer;
            padding: 10px;
            transition: color 0.3s;

            &:hover {
                color: #FDBF6E;
            }
        }

        .event {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 100%;

            .event-image-container {
                flex: 1;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .event-image {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    border-radius: 35px;
                }
            }

            .event-details-container {
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
                padding: 0 20px;

                .event-title {
                    font-size: 24px;
                    margin-bottom: 10px;
                    color: #FDBF6E;
                    font-family: 'Inter-Bold', sans-serif;
                }

                .event-details {
                    font-size: 16px;
                    margin-bottom: 20px;
                    color: #eeeced;
                    font-family: 'Inter-Medium', sans-serif;
                }

                .signup-button {
                    background-color: #564C55;
                    color: white;
                    border: 2px solid #FDBF6E;
                    border-radius: 15px;
                    padding: 0.5rem 1.5rem;
                    text-decoration: none;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #FDBF6E;
                    }
                }
            }
        }
    }

    .notification-modal {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 15px;
        border-radius: 5px;
        z-index: 1000;
        transition: opacity 0.5s ease;
    }
}